Flask==3.0.2
langchain==0.1.13
openpyxl==3.1.2
pandas==2.2.1
tiktoken
chromadb
PyPdfLoader



npm install -D tailwindcss
npx tailwindcss init
./templates/*
npx tailwindcss -i ./static/src/input.css -o ./static/css/output.css --watch
change in package.json
<link href="/static/css/output.css" rel="stylesheet"> in the html files
